/* header css */
a {
	color: white;
	text-decoration: none;
	margin-left: 24px;
}

.bird {
	height: 18px;
}

.button {
	background-color: black;
	border-radius: 6px;
	color: white;
	padding: 6px 12px;
	font-size: 18px;
}
.button:hover {
	/* background-color: rgb(138, 138, 180); */
	font-weight: bold;
	text-decoration: underline;
}

.header {
	background-color: tomato;
	border-bottom: 5px black solid;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 12px;
}

.header-logo {
	font-size: 16px;
}

.nav {
	display: flex;
	list-style: none;
}

/* content */
.body {
	font-family: Dancing Script, Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: ghostwhite;
}

.contact-items {
	color: darkslategrey;
	display: flex;
	font-family: serif;
	font-size: 24px;
	justify-content: space-evenly;
	list-style: none;
}

.contact-list {
	margin: 24px;
}

.main-text {
	font-family: serif;
}

.portfolio-grid {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-grid img {
	margin: 12px;
	border: 1px black solid;
}

.portfolio-image {
	height: 400px;
	width: 250px;
	float: left;
	padding-right: 24px;
}

.resume-link {
	font-family: serif;
	font-size: 24px;
	color: darkslategrey;
}

.sanela-border {
	border-bottom: 2px gray solid;
}

.section-content {
	/* max-width: 800px; */
	padding-left: 200px;
	padding-right: 200px;
}

.section-main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

/* footer */
.footer {
	background-color: tomato;
	border: 1px solid red;
	color: white;
	display: flex;
	justify-content: center;
	padding: 6px;
}

/** responsive styles screen size 1024px */
@media (min-width: 1024px) and (max-width: 1399px) {
	.header-logo {
		font-size: 48px;
	}
}

@media (min-width: 1400px) {
	.header-logo {
		font-size: 96px;
	}
}
