/* temp outline class, delete when done
header,
div,
section,
nav,
footer */

/* header css */
/* content */
/* footer */

a {
	color: white;
	text-decoration: none;
	margin-left: 24px;
}
.body {
	font-family: Inconsolata, Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header-logo {
	font-size: 16px;
}
.bird {
	height: 18px;
}
.footer {
	background-color: tomato;
	border: 1px solid red;
	color: white;
	display: flex;
	justify-content: center;
	padding: 12px;
}

ul {
	margin: 0;
}
.bdc-blue {
	border-color: blue;
}
.bds-s {
	border-style: solid;
}
.bdw-1 {
	border-width: 1px;
}

.m {
	margin: 24px;
}
.p {
	padding: 24px;
}
.ml {
	margin-left: 24px;
}
.button {
	background-color: lawngreen;
	border-radius: 6px;
	color: gray;
	padding: 6px 12px;
}
.button:hover {
	background-color: darkblue;
}

.header {
	background-color: tomato;
	border-bottom: 5px black solid;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 24px;
}
.nav {
	display: flex;
	list-style: none;
}
.portfolio-grid {
	display: flex;
	flex-wrap: wrap;
}
.portfolio-grid img {
	margin: 12px;
	border: 1px black solid;
}
.portfolio-image {
	height: 200px;
	width: 150px;
	float: left;
	padding-right: 24px;
}
.sanela-border {
	border-bottom: 2px gray solid;
}
.section-content {
	/* max-width: 800px; */
	/* height: 200px;
	overflow: auto; */
}
.section-main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

/** responsive styles screen size 1024px */
@media (min-width: 1024px) and (max-width: 1399px) {
	.header-logo {
		font-size: 48px;
	}
}

@media (min-width: 1400px) {
	.header-logo {
		font-size: 96px;
	}
}
