.footer {
    font-weight: 300;
    padding: 0 auto;
    text-align: center;
}

.gradient {
    background: radial-gradient(
    circle farthest-corner at center center,
    #9796f0,
    #fbc7d4
  );
}

.homepage-logo {
    font-family: "Black Vosten Personal Use", "serif";
    font-size: 4.5rem;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .nav-item .navbar-brand {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 50px;
    font-weight: lighter;
}

.nav-item {

}

.portfolio-image {
    border: 5px darkslategray double;
    border-radius: 50%;
    height: 275px;
    margin-bottom: 25px;
    margin-top: 50px;
    width: 275px;
}